<!DOCTYPE html>
{% extends 'Navbar/ProjectNavbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student_Management_System</title>
    <style>
        body {
            background-color: #f0f0f0; /* Light grey background */
        }
    </style>
</head>
<body>
{% block body %}
<h1><center><i>Welcome to Y23 - PFSD Class</center> </h1></i>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/stu2.jpeg' %}" class="d-block w-100" alt="first" >
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/stu3.jpeg' %}" class="d-block w-100" alt="second" >
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/stu4.jpeg' %}" class="d-block w-100" alt="third" >
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}
</body>
</html>
